<!DOCTYPE html>
{% extends 'base.html'%}
{% block body_block %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Search by City</a>
  <form class="form-inline" method='post'>

    <select class="custom-select" name='req'>
      <option value='Null'>select a city</option>
      {%for i in data%}

      <option value={{i}}>{{i}}</option>
      {%endfor%}

    </select>

      <select class="custom-select" name='reqbg'>
        <option value='Null'>Blood Group</option>

        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>


      </select>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
{%csrf_token%}
</form>
</nav><div class='jumbotron'>


  <h2>Results for {{city}} and {{bgg}}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">BloodGroup</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
{% for r in c %}

    <tr>
      <th scope="row">{{r.First_Name}}{{r.Last_Name}}</th>
      <td>{{r.DOB|timesince}}</td>
      <td>{{r.BloodGroup}}</td>
      <td>{{r.Phone}}</td>
    </tr>

{% endfor %}
</tbody>
</table></div>
{%endblock%}
