<!DOCTYPE html>
{%extends 'base.html'%}
{% block body_block%}
<div class='jumbotron'>
<form method='post'>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="fname">First name</label>
      <input type="text" class="form-control" id="fname" name='fname' placeholder="First name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="lname">Last name</label>
      <input type="text" class="form-control" id="lname" name='lname' placeholder="Last name" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="dob">Date Of Birth</label>
      <div class="input-group">

        <input type="date" class="form-control" id="dob" name='dob' required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name='city' placeholder="City" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="bg">Blood Group</label>
      <select class="form-control" id='bg' name='bg'>
        <option>Blood Group</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    </div>
    <div class="col-md-3 mb-3">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" name='phone' placeholder="Contact" required>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Get In</button>{%csrf_token%}
</form>

</div>

{%endblock%}
